apps/BungeniTransformer/branches/generic-release/resources/configfiles/schema/debate-subschema/akn-subschema-3195136.dtd

<!ENTITY % PredefinedSimpleTypes SYSTEM "./pst.dtd">
%PredefinedSimpleTypes;

<!--  =====================================================================
Akoma Ntoso main schema
supported by Africa i-Parliaments, a project sponsored by United
Nations Department of Economic and Social Affairs
Copyright (C) Africa i-Parliaments


Release 12/10/2011 - Akoma Ntoso 2.0

Automatically generated modular subversion from the full schema.
Current subversion contains the following modules:

debateDocs core toc advancedPreface delimiters authorialNote

Please consult http://www.akomantoso.org/subversions for more information.

technical supervision Fabio Vitali - University of Bologna
legal domain supervision Monica Palmirani - University of Bologna

The present schema uses systematically XML design patterns as
described in http://www.xmlpatterns.com/
A few of them are explicitly mentioned, when their use or approach
was not felt clear or natural enough. Others are just used without
mentions.

TERMS AND CONDITIONS

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
=====================================================================  -->




<!--  =====================================================================

Main element groups

=====================================================================  -->



<!ENTITY % ANcontainers    "speech | question | answer | other | scene | narrative | summary" >



<!ENTITY % ANblock         "blockList | toc" >

<!ENTITY % ANinline        "ref | remark | recordedTime | vote | outcome" >

<!ENTITY % ANtitleInline   "docType | docTitle | docNumber | docProponent | docDate | legislature | session | docPurpose | docCommittee | docIntroducer | docStage | docStatus | docJurisdiction | docketNumber" >





<!ENTITY % ANmarker        "noteRef | eol | eop" >


<!ENTITY % ANpopup          "authorialNote" >



<!ENTITY % HTMLcontainers    "div" >

<!ENTITY % HTMLblock         "p" >

<!ENTITY % HTMLinline        "span" >







<!ENTITY % speechSection     "administrationOfOath | rollCall | prayers | oralStatements | writtenStatements | personalStatements | ministerialStatements | resolutions | nationalInterest | declarationOfVote | communication | petitions | papers | noticesOfMotion | questions | address | proceduralMotions | pointOfOrder | adjournment | debateSection" >




<!ENTITY % containerElements "%speechSection; | %HTMLcontainers;" >

<!ENTITY % blockElements     "%ANblock; | %HTMLblock;" >

<!ENTITY % inlineElements    "%ANinline; | %HTMLinline; | %ANtitleInline;" >


<!ENTITY % popupElements    "%ANpopup;" >


<!ENTITY % markerElements    "%ANmarker;" >


<!ENTITY % inlineCM          "%inlineElements; | %markerElements; | %popupElements;" >

<!--  =====================================================================

Attribute groups

=====================================================================  -->


<!ENTITY % alt         " alternativeTo %ANYURI; #IMPLIED" >

<!ENTITY % name         " name %STRING; #REQUIRED" >

<!ENTITY % number       " number %INTEGER; #REQUIRED" >

<!ENTITY % source       " source %ANYURI; #REQUIRED" >

<!ENTITY % date         " date %DATE; #REQUIRED" >

<!ENTITY % time         " time %TIME; #REQUIRED" >

<!ENTITY % link         " href %ANYURI; #REQUIRED" >

<!ENTITY % linkopt      " href %ANYURI; #IMPLIED" >

<!ENTITY % value        " value %STRING; #REQUIRED" >

<!ENTITY % optvalue     " value %STRING; #IMPLIED" >


<!ENTITY % speechAtts   " by %ANYURI; #REQUIRED as %ANYURI; #IMPLIED to %ANYURI; #IMPLIED" >
<!ENTITY % voteAtts     " by %ANYURI; #REQUIRED as %ANYURI; #IMPLIED choice %ANYURI; #IMPLIED" >


<!ENTITY % show         " showAs %STRING; #REQUIRED shortForm %STRING; #IMPLIED" >

<!ENTITY % period " period %ANYURI; #IMPLIED"
>

<!ENTITY % statusType     "(omissis|repealed|suspended|editorial|ignore|translated|edited|verbatim)" >
<!ENTITY % EstatusType "((omissis|repealed|suspended|editorial|ignore|translated|edited|verbatim))" ><!ENTITY % enactment " %period;  status %statusType; #IMPLIED" >

<!ENTITY % placementType    "(side|left|right|bottom|inline)" >
<!ENTITY % EplacementType "((side|left|right|bottom|inline))" ><!ENTITY % notes " marker %STRING; #IMPLIED placement %placementType; #IMPLIED placementBase %ANYURI; #IMPLIED" >


<!ENTITY % modifiers " exclusion %BOOLEAN; #IMPLIED incomplete %BOOLEAN; #IMPLIED" >

<!ENTITY % role " as %ANYURI; #IMPLIED" >

<!ENTITY % actor " actor %ANYURI; #IMPLIED" >





<!ENTITY % HTMLattrs    " class %STRING; #IMPLIED style %STRING; #IMPLIED title %STRING; #IMPLIED" >

<!ENTITY % idreq        " id ID #REQUIRED evolvingId NMTOKEN #IMPLIED" >

<!ENTITY % idopt        " id ID #IMPLIED evolvingId NMTOKEN #IMPLIED" >


<!ENTITY % refersreq    " refersTo %ANYURI; #REQUIRED" >

<!ENTITY % refers       " refersTo %ANYURI; #IMPLIED" >

<!ENTITY % language           "%STRING;" >
<!ENTITY % Elanguage "(%ESTRING;)" ><!ENTITY % xmllang       " xml:lang %language; #IMPLIED" >


<!ENTITY % corereq      " %HTMLattrs;  %enactment;  %idreq;  %refers;  %xmllang;  %alt; " >

<!ENTITY % corereqreq   " %HTMLattrs;  %enactment;  %idreq;  %refersreq;  %xmllang;  %alt; " >

<!ENTITY % coreopt      " %HTMLattrs;  %enactment;  %idopt;  %refers;  %xmllang;  %alt; " >

<!--  =====================================================================

Simple types (data values)

=====================================================================  -->



<!ENTITY % yesNoType    "(yes|no)" >
<!ENTITY % EyesNoType "((yes|no))" >

<!ENTITY % versionType    "(originalVersion|singleVersion|multipleVersions)" >
<!ENTITY % EversionType "((originalVersion|singleVersion|multipleVersions))" >








<!ENTITY % remarkType     "(sceneDescription|phenomenon|caption|translation)" >
<!ENTITY % EremarkType "((sceneDescription|phenomenon|caption|translation))" >

<!ENTITY % timeType       "(startEvent|endEvent)" >
<!ENTITY % EtimeType "((startEvent|endEvent))" >





<!--  =====================================================================

Complex types (markup structures)

=====================================================================  -->


<!ENTITY % basehierarchy     "(num?,heading?,subheading?)" >


<!ENTITY % althierarchy      "(%basehierarchy;,(%containerElements; | %ANcontainers; | %blockElements;)*)" >

<!ENTITY % blocksreq         "(%blockElements;)+" >

<!ENTITY % blocksopt         "(%blockElements;)+" >

<!ENTITY % inline_mixed            "%inlineCM;" >
<!ENTITY % inline "(#PCDATA | %inline_mixed;)*" >

<!ENTITY % inlinereq_mixed         "%inlineCM;" >
<!ENTITY % inlinereq "(#PCDATA | %inlinereq_mixed;)*" >

<!ENTITY % inlinereqreq_mixed      "%inlineCM;" >
<!ENTITY % inlinereqreq "(#PCDATA | %inlinereqreq_mixed;)*" >


<!ENTITY % markerreq         "EMPTY" >

<!ENTITY % markeropt         "EMPTY" >

<!ENTITY % metareq           "EMPTY" >

<!ENTITY % metaopt           "EMPTY" >


<!ENTITY % maincontent       "(%blockElements; | %containerElements;)+" >



<!ENTITY % speechType        "(%basehierarchy;,(from?,(%blockElements;)+))" >



<!ENTITY % itemType          "(%basehierarchy;,(%blockElements;)+)" >

<!ENTITY % referenceType     "EMPTY" >

<!ENTITY % anyOtherType      "ANY" >

<!--  =====================================================================

Root element
Comment: One generic root element contains all document elements
Pattern: Universal Root
Reference: http://www.xmlpatterns.com/UniversalRootMain.shtml

=====================================================================  -->







<!ENTITY % debateDocs       "debateReport | debate" >



<!ENTITY % documentType      "%debateDocs; | doc" >



<!--  =====================================================================

Document elements
Comment: All document elements share just two content models
Pattern: Consistent Element Set
Reference: http://www.xmlpatterns.com/ConsistentElementSetMain.shtml

=====================================================================  -->


<!ENTITY % akomaNtosoType    "((%documentType;),components?)" >

<!ELEMENT     akomaNtoso        %akomaNtosoType; ><!ATTLIST akomaNtoso xmlns CDATA #FIXED "http://www.akomantoso.org/2.0"
 xmlns:xml CDATA #FIXED "http://www.w3.org/XML/1998/namespace" >



<!ENTITY % openStructure     "(meta,coverPage?,preface?,preamble?,mainContent,conclusions?,attachments?)" >


<!ELEMENT doc           %openStructure; >
<!ATTLIST doc %name;  contains %versionType; 'originalVersion'  >

<!ELEMENT mainContent     %maincontent; >
<!ATTLIST mainContent %coreopt;  >







<!ENTITY % debateStructure     "(meta,coverPage?,preface?,debateContent,conclusions?,attachments?)" >


<!ELEMENT debateReport        %openStructure; >
<!ATTLIST debateReport %name;  contains %versionType; 'originalVersion'  >

<!ELEMENT debate  %debateStructure; >
<!ATTLIST debate contains %versionType; 'originalVersion'  >


<!ELEMENT debateContent          (%speechSection;)+>

<!ATTLIST debateContent %coreopt;  >











<!ENTITY % basicopt         "(%blockElements;)+" >

<!ELEMENT coverPage    %basicopt; >
<!ATTLIST coverPage %coreopt;  >

<!ENTITY % preambleopt         "(%blockElements;)+" >

<!ELEMENT preamble    %preambleopt; >
<!ATTLIST preamble %coreopt;  >

<!ENTITY % prefaceopt         "(%blockElements;)+" >

<!ELEMENT preface     %prefaceopt; >
<!ATTLIST preface %coreopt;  >

<!ELEMENT conclusions %basicopt; >
<!ATTLIST conclusions %coreopt;  >

<!ELEMENT header      %blocksopt; >
<!ATTLIST header %coreopt;  >

<!ELEMENT attachments (componentRef+)>

<!ATTLIST attachments %coreopt;  >

<!ELEMENT componentRef  %referenceType; >
<!ATTLIST componentRef %idreq;  %link;  %show;  >







<!ELEMENT num           %inline; >
<!ATTLIST num %coreopt;  >

<!ELEMENT heading       %inline; >
<!ATTLIST heading %coreopt;  >

<!ELEMENT subheading    %inline; >
<!ATTLIST subheading %coreopt;  >

<!ELEMENT intro    %blocksopt; >
<!ATTLIST intro %coreopt;  >

<!ELEMENT wrap    %blocksopt; >
<!ATTLIST wrap %coreopt;  >




<!--  =====================================================================

Elements for debates documents

=====================================================================  -->


<!ELEMENT administrationOfOath  %althierarchy; >
<!ATTLIST administrationOfOath %corereq;  >


<!ELEMENT rollCall  %althierarchy; >
<!ATTLIST rollCall %corereq;  >

<!ELEMENT prayers  %althierarchy; >
<!ATTLIST prayers %corereq;  >

<!ELEMENT oralStatements  %althierarchy; >
<!ATTLIST oralStatements %corereq;  >

<!ELEMENT writtenStatements  %althierarchy; >
<!ATTLIST writtenStatements %corereq;  >

<!ELEMENT personalStatements  %althierarchy; >
<!ATTLIST personalStatements %corereq;  >

<!ELEMENT ministerialStatements  %althierarchy; >
<!ATTLIST ministerialStatements %corereq;  >

<!ELEMENT resolutions  %althierarchy; >
<!ATTLIST resolutions %corereq;  >

<!ELEMENT nationalInterest  %althierarchy; >
<!ATTLIST nationalInterest %corereq;  >


<!ELEMENT declarationOfVote     %althierarchy; >
<!ATTLIST declarationOfVote %corereq;  >

<!ELEMENT communication         %althierarchy; >
<!ATTLIST communication %corereq;  >

<!ELEMENT petitions             %althierarchy; >
<!ATTLIST petitions %corereq;  >

<!ELEMENT papers                %althierarchy; >
<!ATTLIST papers %corereq;  >

<!ELEMENT noticesOfMotion       %althierarchy; >
<!ATTLIST noticesOfMotion %corereq;  >

<!ELEMENT questions             %althierarchy; >
<!ATTLIST questions %corereq;  >

<!ELEMENT address               %althierarchy; >
<!ATTLIST address %corereq;  >

<!ELEMENT proceduralMotions     %althierarchy; >
<!ATTLIST proceduralMotions %corereq;  >

<!ELEMENT pointOfOrder          %althierarchy; >
<!ATTLIST pointOfOrder %corereq;  >

<!ELEMENT adjournment  %althierarchy; >
<!ATTLIST adjournment %corereq;  >



<!ELEMENT debateSection           %althierarchy; >
<!ATTLIST debateSection %corereq;  >

<!ATTLIST debateSection %name;  >




<!ELEMENT speech              %speechType; >
<!ATTLIST speech %coreopt;  %speechAtts;  >

<!ELEMENT question            %speechType; >
<!ATTLIST question %coreopt;  %speechAtts;  >

<!ELEMENT answer              %speechType; >
<!ATTLIST answer %coreopt;  %speechAtts;  >

<!ELEMENT other               %blocksopt; >
<!ATTLIST other %coreopt;  >

<!ELEMENT scene               %inline; >
<!ATTLIST scene %coreopt;  >

<!ELEMENT narrative               %inline; >
<!ATTLIST narrative %coreopt;  >

<!ELEMENT summary               %inline; >
<!ATTLIST summary %coreopt;  >

<!ELEMENT from          %inline; >
<!ATTLIST from %coreopt;  >


<!ELEMENT vote               %inline; >
<!ATTLIST vote %coreopt;  >

<!ATTLIST vote %voteAtts;  >

<!ELEMENT outcome               %inline; >
<!ATTLIST outcome %coreopt;  >






<!--  =====================================================================

AN block elements
Comment: the only AN-specific block are the table of content (TOC),
a structure containing toc items related to the various subparts of the
main document, the list item and the titled block

=====================================================================  -->


<!ELEMENT blockList                (listIntroduction?,item+,listConclusion?)>

<!ATTLIST blockList %corereq;  >
<!--  The element item is a container belonging to a list  -->
<!ELEMENT item                %itemType; >
<!ATTLIST item %corereq;  >

<!ELEMENT listIntroduction   %inline; >
<!ATTLIST listIntroduction %coreopt;  >

<!ELEMENT listConclusion   %inline; >
<!ATTLIST listConclusion %coreopt;  >




<!ELEMENT toc       (tocItem+)>

<!ELEMENT tocItem   %inline; >
<!ATTLIST tocItem %coreopt;  >

<!ATTLIST tocItem %link;  level %INTEGER; #REQUIRED >




<!--  =====================================================================

AN inline elements
Comment: AN-specific inline elements are connected to the
identification of elements that are corresponding to an inline
legal structure, regardless of their position in the document.

=====================================================================  -->


<!ELEMENT docType      %inline; >
<!ATTLIST docType %coreopt;  >

<!ELEMENT docTitle     %inline; >
<!ATTLIST docTitle %coreopt;  >

<!ELEMENT docNumber    %inline; >
<!ATTLIST docNumber %coreopt;  >

<!ELEMENT docProponent %inline; >
<!ATTLIST docProponent %coreopt;  >

<!ELEMENT docDate      %inline; >
<!ATTLIST docDate %coreopt;  >

<!ATTLIST docDate %date;  >

<!ELEMENT legislature      %inline; >
<!ATTLIST legislature %coreopt;  >

<!ELEMENT session      %inline; >
<!ATTLIST session %coreopt;  >



<!ELEMENT docPurpose   %inline; >
<!ATTLIST docPurpose %coreopt;  >

<!ELEMENT docCommittee   %inline; >
<!ATTLIST docCommittee %coreopt;  >

<!ELEMENT docIntroducer   %inline; >
<!ATTLIST docIntroducer %coreopt;  >

<!ELEMENT docStage   %inline; >
<!ATTLIST docStage %coreopt;  >

<!ELEMENT docStatus   %inline; >
<!ATTLIST docStatus %coreopt;  >

<!ELEMENT docJurisdiction   %inline; >
<!ATTLIST docJurisdiction %coreopt;  >

<!ELEMENT docketNumber    %inline; >
<!ATTLIST docketNumber %coreopt;  >







<!ELEMENT signature          %inline; >
<!ATTLIST signature %coreopt;  >





<!ELEMENT ref          %inlinereq; >
<!ATTLIST ref %corereq;  >

<!ATTLIST ref %link;  >






<!ELEMENT remark       %inline; >
<!ATTLIST remark %coreopt;  >

<!ATTLIST remark type %remarkType; #IMPLIED >

<!ELEMENT recordedTime   %inline; >
<!ATTLIST recordedTime %coreopt;  >

<!ATTLIST recordedTime type %timeType; #IMPLIED %time;  >





<!--  =====================================================================

AN marker elements
Comment: AN-specific marker elements are connected to the
identification of locations within the legal structure, anywhere where
there is text.

=====================================================================  -->



<!ELEMENT noteRef      %markeropt; >
<!ATTLIST noteRef %coreopt;  >

<!ATTLIST noteRef %notes;  %link;  >



<!ENTITY % eolType  "%markeropt;" >

<!ELEMENT eol   %eolType; >
<!ATTLIST eol breakat %INTEGER; #IMPLIED %coreopt;  >

<!ELEMENT eop   %eolType; >
<!ATTLIST eop breakat %INTEGER; #IMPLIED %coreopt;  >


<!--  =====================================================================

AN popup elements
Comment: AN-specific popup elements are connected to the
identification of structural elements that contain full structures
within a text content, but are not of textual nature.

=====================================================================  -->


<!ENTITY % popupStructure "(%blockElements; | intro | wrap | heading | subheading | content | num | %containerElements; | %ANcontainers;)+" >






<!ELEMENT authorialNote   %popupStructure; >
<!ATTLIST authorialNote %corereq;  >

<!ATTLIST authorialNote %notes;  >







<!--  =====================================================================

HTML elements
Comment: Many elements are drawn directly from HTML 4.0
Pattern: Reuse Document Types (partial)
Reference: http://www.xmlpatterns.com/ReuseDocumentTypesMain.shtml

=====================================================================  -->



<!ELEMENT div  %blocksreq; >
<!ATTLIST div %corereq;  >

<!ELEMENT p    %inline; >
<!ATTLIST p %coreopt;  >

<!ELEMENT span %inline; >
<!ATTLIST span %coreopt;  >




<!--  =====================================================================

Metadata elements for all documents

=====================================================================  -->

<!ELEMENT meta             (identification,publication?,classification*,temporalData*,references*,notes*)>



<!ELEMENT identification   (FRBRWork,FRBRExpression,FRBRManifestation,FRBRItem?)>

<!ATTLIST identification %source;  >


<!ENTITY % coreProperties   "(FRBRthis,FRBRuri+,FRBRalias*,FRBRdate,FRBRauthor+)" >

<!ENTITY % langProperties   "FRBRlanguage* , FRBRtranslation*" >


<!ELEMENT FRBRWork             %coreProperties; >

 <!ENTITY       % FRBRExpression_entity "(%coreProperties;,(%langProperties;))" ><!ELEMENT FRBRExpression %FRBRExpression_entity;>

<!ELEMENT FRBRManifestation    %coreProperties; >

<!ELEMENT FRBRItem             %coreProperties; >



<!ELEMENT FRBRthis             %metaopt; >
<!ATTLIST FRBRthis %idopt;  >

<!ATTLIST FRBRthis %value;  >

<!ELEMENT FRBRuri              %metaopt; >
<!ATTLIST FRBRuri %idopt;  >

<!ATTLIST FRBRuri %value;  >

<!ELEMENT FRBRalias            %metaopt; >
<!ATTLIST FRBRalias %idopt;  >

<!ATTLIST FRBRalias %value;  >

<!ELEMENT FRBRdate             %metaopt; >
<!ATTLIST FRBRdate %idopt;  >

<!ATTLIST FRBRdate %date;  %name;  >

<!ELEMENT FRBRauthor           %metaopt; >
<!ATTLIST FRBRauthor %idopt;  >

<!ATTLIST FRBRauthor %link;  as %ANYURI; #IMPLIED >

<!ELEMENT FRBRlanguage            %metaopt; >
<!ATTLIST FRBRlanguage %idopt;  >

<!ATTLIST FRBRlanguage language %language; #REQUIRED >


<!ELEMENT FRBRtranslation      %metaopt; >
<!ATTLIST FRBRtranslation %idopt;  >

<!ATTLIST FRBRtranslation %link;  fromLanguage %language; #REQUIRED pivot %language; #IMPLIED by %ANYURI; #REQUIRED >







<!ELEMENT publication      %metaopt; >
<!ATTLIST publication %idopt;  >

<!ATTLIST publication %date;  %show;  %name;  %number;  %refers;  >


<!ELEMENT classification   (keyword+)>

<!ATTLIST classification %source;  >


<!ELEMENT keyword %metaopt; >
<!ATTLIST keyword %idopt;  >

<!ATTLIST keyword %value;  %show;  dictionary %ANYURI; #REQUIRED >








<!ELEMENT temporalData  (temporalGroup)+>

<!ATTLIST temporalData %source;  >

<!--  The element temporalGroup contains a list of time Intervals that need to be applied together to an element of the document that is associated to time information. Each temporal group can contain any number of time interval associated via the refersTo to a different time-specific concept.  -->
<!ELEMENT temporalGroup  (timeInterval+)>

<!ATTLIST temporalGroup %idreq;  >

<!--  The element timeInterval contains all the data needed to identify a specific time interval. It is built either with two dates or with a date and a duration (exactly two of the 'start', 'end' and 'duration' attributes can be specified). Values are of the 'start' and 'end' attributes are NOT dates, but references to event elements in the corresponding metadata section. The refers attribute is a reference to a temporal concept belonging to the Akoma Ntoso ontology and specified in the references section  -->
<!ELEMENT timeInterval  %metaopt; >
<!ATTLIST timeInterval %idopt;  >

<!ATTLIST timeInterval %refersreq;  start %ANYURI; #IMPLIED end %ANYURI; #IMPLIED duration %DURATION; #IMPLIED >


<!ENTITY % docRefs        "original | passiveRef | activeRef | jurisprudence | hasAttachment | attachmentOf" >

<!ENTITY % TLCs           "TLCPerson | TLCOrganization | TLCConcept | TLCObject | TLCEvent | TLCLocation | TLCProcess | TLCRole | TLCTerm | TLCReference" >

<!ENTITY % refItems       "%docRefs; | %TLCs;" >


<!ELEMENT references     (%refItems;)+>

<!ATTLIST references %source;  >


<!ELEMENT original         %referenceType; >
<!ATTLIST original %idreq;  %link;  %show;  >

<!ELEMENT passiveRef       %referenceType; >
<!ATTLIST passiveRef %idreq;  %link;  %show;  >

<!ELEMENT activeRef        %referenceType; >
<!ATTLIST activeRef %idreq;  %link;  %show;  >

<!ELEMENT jurisprudence    %referenceType; >
<!ATTLIST jurisprudence %idreq;  %link;  %show;  >

<!ELEMENT hasAttachment    %referenceType; >
<!ATTLIST hasAttachment %idreq;  %link;  %show;  >

<!ATTLIST hasAttachment type CDATA #IMPLIED >

<!ELEMENT attachmentOf     %referenceType; >
<!ATTLIST attachmentOf %idreq;  %link;  %show;  >

<!ATTLIST attachmentOf type CDATA #IMPLIED >


<!ELEMENT TLCPerson        %referenceType; >
<!ATTLIST TLCPerson %idreq;  %link;  %show;  >

<!ELEMENT TLCOrganization  %referenceType; >
<!ATTLIST TLCOrganization %idreq;  %link;  %show;  >

<!ELEMENT TLCConcept       %referenceType; >
<!ATTLIST TLCConcept %idreq;  %link;  %show;  >

<!ELEMENT TLCObject        %referenceType; >
<!ATTLIST TLCObject %idreq;  %link;  %show;  >

<!ELEMENT TLCEvent         %referenceType; >
<!ATTLIST TLCEvent %idreq;  %link;  %show;  >

<!ELEMENT TLCLocation         %referenceType; >
<!ATTLIST TLCLocation %idreq;  %link;  %show;  >

<!ELEMENT TLCProcess       %referenceType; >
<!ATTLIST TLCProcess %idreq;  %link;  %show;  >

<!ELEMENT TLCRole          %referenceType; >
<!ATTLIST TLCRole %idreq;  %link;  %show;  >

<!ELEMENT TLCTerm          %referenceType; >
<!ATTLIST TLCTerm %idreq;  %link;  %show;  >

<!ELEMENT TLCReference     %referenceType; >
<!ATTLIST TLCReference %idreq;  %link;  %show;  >

<!ATTLIST TLCReference %name;  >







<!ELEMENT notes        (note)+>

<!ATTLIST notes %source;  >

<!ELEMENT note         %blocksreq; >
<!ATTLIST note %corereq;  >



<!--  =====================================================================

Components

=====================================================================  -->


<!ELEMENT components (component+)>
<!ELEMENT component (%documentType;)>

<!ATTLIST component %idreq;  >


<!--  =====================================================================

End of Schema

=====================================================================  -->
